<!DOCTYPE html>
<html lang="es" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/home}">
			Home
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" 
						href="#" 
						th:href="@{/cupon/list}">
						Cupones
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" 
						href="#" 
						th:href="@{/cupon/list}">
						Cupones2
					</a>
				</li>
			</ul>
			<a class="btn btn-danger" href="#" th:href="@{/logout}">
				Logout
			</a>
		</div>
	</div>
</nav>

<script>


	// Get the container element
	var btnContainer = document.getElementById("navbarSupportedContent");

	// Get all buttons with class="btn" inside the container
	var btns = btnContainer.getElementsByClassName("nav-link");

	// Loop through the buttons and add the active class to the current/clicked button
	for (var i = 0; i < btns.length; i++) {
		btns[i].addEventListener("click", function () {
			
			localStorage.setItem(`{i}`, 'btn1');
			
			var current = document.getElementsByClassName("nav-link active");

			// If there's no active class
			if (current.length > 0) {
				current[0].className = current[0].className.replace(" active", "");
			}

			// Add the active class to the current/clicked button
			this.className += " active";
			
		});
	}



	</script>


</html>