<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/bootstrap/themes/yeti/bootstrap.css}">

</head>

<body>
	<div th:insert="navbar.html"></div>
	<main>
		<section class="container">
			<div class="row">
				<div class="clo-12">
					<h1>Cupones - Edit
						<span th:text="${CUPON.id}"></span>
					</h1>
				</div>	
			</div>
			
			<form 
				th:class="${#fields.hasErrors()} ? 'row g-3 needs-validation was-validated' : 'row g-3 needs-validation'"
			 	novalidate
			 	th:object="${CUPON}"
			 	action="#"
			 	th:action="@{/cupon/edit}"
			 	th:method="POST"
			 	>
			  <input type="hidden" th:field="*{id}">
			  <div class="col-md-4">
			    <label for="codigo" class="form-label">CODIGO</label>
			    <input type="text" 
			    	class="form-control" 
			    	id="codigo"  
			    	maxlength="10"
			    	required
			    	readonly
			    	th:field="*{codigo}"
			    	>
			    <div class="valid-feedback">
			      Looks good!
			    </div>
			       <div th:if="${#fields.hasErrors('codigo')}"
			     		th:errors="*{codigo}"
			     		class="invalid-feedback"> 
			    </div>
			  </div>
			  
			  	<div class="col-md-4">
			    	<label for="validationCustom01" class="form-label">NOMBRE</label>
			    	<input type="text" 
			    		class="form-control" 
			    		id="nombre"  
			    		maxlength="100"
			    		required
			    		th:field="*{nombre}">
			    	<div class="valid-feedback">
			      	Looks good!
			    	</div>
			    	   <div th:if="${#fields.hasErrors('nombre')}"
			     		th:errors="*{nombre}"
			     		class="invalid-feedback"> 
			    </div>
			  </div>
			  
			  <div class="col-md-4">
			    <label for="validationCustom02" class="form-label">FECHA DE VIGENCIA DESDE</label>
			    <input type="date" 
			    	class="form-control" 
			    	id="fechaDesde"  
			    	required
			    	th:field="*{fechaVigenciaDesde}">
			    <div class="valid-feedback">
			      Looks good!
			    </div>
			       <div th:if="${#fields.hasErrors('fechaVigenciaDesde')}"
			     		th:errors="*{fechaVigenciaDesde}"
			     		class="invalid-feedback"> 
			    </div>
			  </div>
			  
			   <div class="col-md-4">
			    <label for="validationCustom02" class="form-label">FECHA DE VIGENCIA HASTA</label>
			    <input type="date" 
			    	class="form-control" 
			    	id="fechaHasta"  
			    	th:field="*{fechaVigenciaHasta}">
			    <div class="valid-feedback">
			      Looks good!
			    </div>
			       <div th:if="${#fields.hasErrors('fechaVigenciaHasta')}"
			     		th:errors="*{fechaVigenciaHasta}"
			     		class="invalid-feedback"> 
			    </div>
			  </div>
			  
			  <div class="col-md-4">
			    <label for="validationCustom02" class="form-label">DESCUENTO</label>
			    <input type="number" 
			    	class="form-control" 
			    	id="descuento"  
			    	required
			    	min="1"
			    	max="100"
			    	th:field="*{descuento}">
			    <div class="valid-feedback">
			      Looks good!
			    </div>
			       <div th:if="${#fields.hasErrors('descuento')}"
			     		th:errors="*{descuento}"
			     		class="invalid-feedback"> 
			    </div>
			  </div>
			  
			  <div class="col-12">
			    <button class="btn btn-primary" type="submit">Submit form</button>
			  </div>
			</form>
	
		</section>
	</main>
	</div>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</html>
